html, body {
    height: 100%;
    margin: 0;
    overflow: scroll;
    padding: 0;
    margin: 0;
}

#msg-area {
    height: 60vh;
    width: 100%;
}

/*#messages-box {*/
/*    height: 510px;*/
/*    overflow-y: scroll;*/
/*}*/

#dialog-username {
    font-size: 15px;
}

#dialog-time{
    font-size: 15px;
}

#wrapper {
    border-radius: 50px;
    overflow: auto;
}
